<html>
    <head>
        <title>Musical Instrument Inventory Application</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <div class="stockSection">
            <!-- <% stock.forEach((item) => { %> -->
                <!-- <%- include('messages/message', {message: message}); %> -->
            <!-- <% }); %> --> 
        </div>
    </body>
</html>