<html>
    <head>
        <title>Musical Instrument Inventory Application</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('partials/navbar', {links}) %>
        <div class="filterForm">
            <form method="GET" action="/categoryFilter/" >
                <select name="productCategory" id="productCategory" onchange="this.form.submit()">
                    <option value="" selected disabled hidden>Filter by Category</option>
                <% categories.forEach((category) => { %>
                    <%- include('categoryPages/categoryOptionsNew', {category}); %>
                <% }); %>
                </select>
            </form>
            <a href="/">
                <button type="button">Reset Filter</button>
            </a>
        </div>
        <div class="stockSectionTitle">
            <h1>All Stock</h1>
            <a href="/createStockForm"><button type="button">Create New Stock Item</button></a>
        </div>
        
        <div class="stockSection">
            <% stock.forEach((item) => { %> 
                <%- include('stockPages/stockPage', {item}); %>
            <% }); %> 
        </div>
    </body>
</html>