<html>
    <head>
        <title>Edit Category</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {links}) %>
        <%- include("../partials/backNavbarCategory.ejs") %>
        <div class="categoryForm">
            <h1>New Category %></h1>
            <%- include("../partials/errors") %>
            <form method="POST" action="/newCategory" id="categoryNewForm">
                <label for="categoryTitle"> Category Title </label>
                <input type="text" name="categoryTitle" >
                <button type="submit">Confirm New Category</button>
            </form>
        </div>
    </body>
</html>